Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
.vsconfig
Content/Clinic/
Content/CyberpunkIndustries/
Content/DOORS/
Content/EditorBlueprintResources/
Content/Fab/
Content/FirstPerson/
Content/Fuse_Box/
Content/GAME/
Content/GoodSky/
Content/HighPoly_Tree_Model/
Content/IndustryPropsPack6/
Content/Input/
Content/Laboratory/
Content/LevelPrototyping/
Content/Modular_Scifi_Mechanic_Base/
Content/OldFurniturePack_01/
Content/Real_Stones_Pack_01/
Content/SICKA_mansion/
Content/SciFI_Lite_Assets/
Content/UI/
Content/Vefects/
Content/Weapons/
Content/camera/
Content/car/
Content/chr_lightswitch/
Content/coin/
Content/cubes/
Content/door_with_handle/
Content/fabric_generic_leather_top_grain_medium_brown_xjekcey_2k_ue_mid/
Content/furniture/
Content/gate/
Content/material/
Content/merged/
Content/pickupable_objects/
Content/textures/
Content/windows/